html {
	font-size: 12px;
}

b {
	font-weight: bold;
}

:root {
	--text-color: #d7af5f;
	--dark-color: #8787af;
}

body {
	background-color: #121212;
	color: var(--dark-color); 
	font-family: monospace;
}

header pre {
	margin-bottom: 2rem;
	font-family: monospace;
	color: var(--text-color);
}

body > * {
	margin: 1rem 2rem;
	font-size: 1.4rem;
}

main {
	width: 90ex;
}

.dark {
	color: var(--dark-color);
}

.stdout {
	margin-top: 2rem;
}

.stdout div {
	margin-top: 1rem;
}

.ps1 {
	color: var(--text-color);
}

a {
	text-decoration: underline;
}

a, a:visited {
	color: inherit;
	/*text-decoration: none;*/
}

.cmd {
	color: var(--dark-color);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

header li {
	color: var(--text-color);
	margin-right: 1rem;
}

main li {
	margin-left: 2rem;
	list-style: disc inside;
}

main a {
	color: var(--dark-color) !important;
}

.url {
	color: var(--text-color);
}

.payload {
	color: var(--text-color);
}

p, main li {
	margin-top: 1rem;
	line-height: 1.5;
}

.hr {
	color: var(--dark-color)
}

h1, h2, h3, h4, h5, h6 {
	color: var(--dark-color);
}

h1 {
	font-size: 2.4rem;
	margin-top: 2rem;
}

h2 {
	font-size: 1.8rem;
	margin-top: 2rem;
}

.date {
	font-size: 1.2rem;
	color: var(--dark-color);
	margin-bottom: 2rem;
}

main em, main code {
	color: var(--dark-color);
}
