<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link href='/css/reset.css' rel='stylesheet'>
		<link href='/css/main.css' rel='stylesheet'>
		<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
		<script src='/js/index.js'></script>
	</head>
	<body onload='init()'>
		<header>
			<pre>__   __                                   _       _     _             
\ \ / / __   __ ___      ____ _ _ __ _ __( )___  | |__ | | ___   __ _ 
 \ V / '_ \ / _` \ \ /\ / / _` | '__| '__|// __| | '_ \| |/ _ \ / _` |
  | || | | | (_| |\ V  V / (_| | |  | |    \__ \ | |_) | | (_) | (_| |
  |_||_| |_|\__, | \_/\_/ \__,_|_|  |_|    |___/ |_.__/|_|\___/ \__, |
            |___/                                               |___/ 
</pre>
			<div class='stdout'>
				<div>
					{% capture cmd %} ls -d ~/*/ {% endcapture %}
					{% include ps1.html %}
				</div>
				<div class='payload'>
					{% include cats.html %}
				</div>
			</div>
			{% include hr.html %}
		</header>
		<main>
			<div class='stdout'>
				<div>
					{% capture cmd %} {{ page.ccmd }} {% endcapture %}
					{% include ps1.html %}
				</div>
				<div class='payload'>
					{{ content }}
				</div>
			</div>
		</main>
		<footer>
			{% include hr.html %}
			<div class='stdout'>
				<div>
					{% capture cmd %} id author {% endcapture %}
					{% include ps1.html %}
				</div>
				<div class='payload'>
					<p>uid = Yngwarr</p>
					<p>groups =
						<a href='https://twitter.com/Yng_warr'>twitter</a>,
						<a href='https://yngwarr.itch.io/'>itch.io</a>,
						<a href='https://ldjam.com/users/yngvarr/'>ldjam.com</a>
					</p>
				</div>
			</div>
			<div class='stdout'>
				<div>
					{% capture cmd %} pwd {% endcapture %}
					{% include ps1.html %}
				</div>
				<div class='payload'>
					{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
					<span class='url'><a href="/">/home/user</a>{% for crumb in crumbs offset: 1 %}{% if forloop.last %}/{{ crumb | replace:'-',' ' | remove:'.html' }}{% else %}/<a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html'}}</a>{% endif %}{% endfor %}</span>
				</div>
			</div>
		</footer>
	</body>
</html>
